In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({'key1' : ['A']*2 + ['B']*3,
               'key2' : [2,2,2,3,3]})

df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [3]:
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [4]:
df.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [5]:
df.drop_duplicates(['key2'])

  key1  key2
0    A     2
3    B     3