In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = DataFrame({'k1':['X','X','Y','Y','Z'],
               'k2': ['alpha','beta','alpha','beta','alpha'],
               'ds1':np.random.randn(5),
               'ds2':np.random.randn(5)})

df

  k1     k2       ds1       ds2
0  X  alpha -0.357965  0.210232
1  X   beta  0.417783 -0.373374
2  Y  alpha  0.747636  0.869873
3  Y   beta -0.400638  0.272215
4  Z  alpha  0.259000  0.235718

In [5]:
group1 = df['ds1'].groupby(df['k1'])

group1

In [6]:
group1.mean()

k1
X    0.029909
Y    0.173499
Z    0.259000
Name: ds1, dtype: float64

In [7]:
city = np.array(['London','Lahore','Lahore','London','Lahore'])

month = np.array(['Jan','Feb','Jan','Feb','Jan'])

In [9]:
df['ds1'].groupby([city,month]).mean()

Lahore  Feb    0.417783
        Jan    0.503318
London  Feb   -0.400638
        Jan   -0.357965
Name: ds1, dtype: float64

In [10]:
df

  k1     k2       ds1       ds2
0  X  alpha -0.357965  0.210232
1  X   beta  0.417783 -0.373374
2  Y  alpha  0.747636  0.869873
3  Y   beta -0.400638  0.272215
4  Z  alpha  0.259000  0.235718

In [13]:
df.groupby('k1').mean()

TypeError: Could not convert alphabeta to numeric